#room-modal {
    padding-right: 0 !important;
}

#room-error {
    display: none;
    position: fixed;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 450px;
    box-sizing: content-box;
}
